* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
}

.card {
  width: 300px;
  height: 300px;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: end;
  padding-bottom: 10px;
}

.image-card {
  background-color: teal;
  height: 30%;
  width: 100%;
  border-radius: 10%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  padding: 2px;
}

.info {
  padding: 10px;
}

.text {
  padding-bottom: 15px;
  padding-top: 35px;
}

.text h1 {
  color: teal;
  margin-top: 30px;
}

.text p {
  color: #777;
  margin-bottom: 5px;
}

.social {
  display: flex;
  justify-content: space-around;
}

.social i {
  font-size: 25px;
}

.social i:first-child {
  color: rgb(22, 22, 124);
}

.social i:nth-child(2) {
  color: #9ca1e7;
}

.social i:nth-child(3) {
  color: #165591ea;
}

.buttons {
  display: flex;
  gap: 50px;
  margin-top: 15px;
}

.buttons button {
  padding: 7px 10px;
  border-radius: 20%;
  border: 1px solid teal;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: teal;
  color: #fff;
}

.react {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.react i {
  color: teal;
  font-size: 20px;
  border-right: 1px solid #777;
  padding-right: 10px;
  padding-left: 10px;
}

.react i span {
  font-size: 13px;
  padding: 5px;
}
